<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DemoQA" verbose="1">
 <parameter name="browser"  value="chrome"/>
<!--	<test name="TextBoxTest">-->
<!--		<classes>-->
<!--			<class name="tests.TextBoxTest" />-->
<!--		</classes>-->
<!--	</test>  SampleTestNG -->
<!--	 <parameter name="browser"  value="edge"/>-->
	<test name="PraticeFormsTest">
		<classes>
			<class name="tests.PraticeFormsTest" />
<!--			<methods>-->
<!--			<include name="verifyCheckBox"></include>-->
<!--			</methods>-->
		</classes>
	</test>  <!--SampleTestNG -->
</suite> <!-- DemoSuite -->